{{ header }}
        <main>
            {{ content_bottom }}
            
            <section class="content_section content_section_text">
                <div class="container">
                    <h2>Купите белкины пироги с доставкой на дом</h2>
                    <p>
                        Рецепты пирогов с мясом есть практически во всех национальных кухнях мира. И вариантов их – великое множество. Тесто для пирогов может быть самым разным – с дрожжами и без, слоеное, песочное, сметанное. Начинка – тоже: из одного вида мяса или из нескольких,
                        только из мяса или с добавлением овощей, крупы, сыра, грибов. Наконец, мясные пироги отличаются формой – их делают круглыми, квадратными, прямоугольными, треугольными.
                    </p>
                    <p>
                        Несмотря на все разнообразие мясных пирогов, в их приготовлении существует несколько общих правил. Пироги с мясом очень редко делают открытыми. Напротив, старайтесь как можно лучше соединить края теста, чтобы не было отверстий, тогда мясо получится сочным,
                        да и внешний вид пирога не испортят потеки мясного сока.
                    </p>
                </div>
            </section>
        </main>
{{ footer }}