                    <div class="map_section_info">
                        <div class="small_map">{{ map }}</div>
                        <b class="map_section_title">{{ title }}</b>
                        <div class="map_section_text">{{ text }}</div>
                    </div>